In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
import numpy as np
from pprint import pprint
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
school_file = "../Output/SchoolRating.csv"
city_file = "../Output/5_city_data.csv"
#county_file = "../Output/county_data.csv"

school_data = pd.read_csv(school_file)
school_data.head()

,Rank,School,Type,Grades,Address,City,Zip,County,District,Is Charter,Is Magnet,Is Virtual,Is Title I,Year
0,9,Mission San Jose High,"Public, Magnet",12-Sep,41717 Palm Ave.,Fremont,94539,Alameda,Fremont Unified,No,Yes,No,No,2018
1,28,Piedmont High,Public,12-Sep,800 Magnolia Ave.,Piedmont,94611,Alameda,Piedmont City Unified,No,No,No,No,2018
2,47,American High,Public,12-Sep,36300 Fremont Blvd.,Fremont,94536,Alameda,Fremont Unified,No,No,No,No,2018
3,56,Foothill High,Public,12-Sep,4375 Foothill Rd.,Pleasanton,94588,Alameda,Pleasanton Unified,No,No,No,No,2018
4,57,Irvington High,"Public, Magnet",12-Sep,41800 Blacow Rd.,Fremont,94538,Alameda,Fremont Unified,No,Yes,No,No,2018

In [3]:
school_mean_pd = school_data.groupby(['Year','County','City'])
#school_mean_pd.head()

In [4]:
school_meanrankpd =  school_mean_pd['Rank'].mean()
#school_mean_pd.loc[school_mean_pd['City']=='Fremont']
school_meanrankpd.head()

Year  County   City
2013  Alameda  Alameda           480.0
               Albany            112.0
               Berkeley         1107.0
               Castro Valley     453.0
               Dublin             73.0
Name: Rank, dtype: float64

In [5]:
school_df1 = pd.DataFrame(school_meanrankpd)
school_df1.head()

                              Rank
Year County  City
2013 Alameda Alameda         480.0
             Albany          112.0
             Berkeley       1107.0
             Castro Valley   453.0
             Dublin           73.0

In [6]:
city_salesdata = pd.read_csv(city_file)
city_salesdata.head()

,Unnamed: 0,State,County,City,Median Sale Price,Date,Month,Year
0,50,California,"Santa Clara, CA",Santa Clara,465000.0,2/1/2012,2,2012
1,64,California,"Santa Clara, CA",Santa Clara,690000.0,10/1/2013,10,2013
2,80,California,"Oakland, CA",Oakland,610000.0,5/1/2015,5,2015
3,109,California,"Santa Clara, CA",Santa Clara,541000.0,3/1/2012,3,2012
4,193,California,"Oakland, CA",Oakland,499000.0,6/1/2014,6,2014

In [7]:

# merging the Housung data with School Data 
school_housing_df = pd.merge(school_df1, city_salesdata, on=['City','Year'], how='inner')
school_housing_df.head()

,City,Year,Rank,Unnamed: 0,State,County,Median Sale Price,Date,Month
0,Fremont,2013,327.4,9625,California,"Fremont, CA",530000.0,1/1/2013,1
1,Fremont,2013,327.4,9688,California,"Fremont, CA",620000.0,4/1/2013,4
2,Fremont,2013,327.4,9833,California,"Fremont, CA",648000.0,10/1/2013,10
3,Fremont,2013,327.4,13329,California,"Fremont, CA",650000.0,7/1/2013,7
4,Fremont,2013,327.4,16452,California,"Fremont, CA",636000.0,12/1/2013,12

In [8]:
school_housing_df1 = school_housing_df.groupby(['Year','City','Rank'])
school_housing_df2 = school_housing_df1['Median Sale Price'].mean().astype('int64')

In [9]:
school_housing_df2 = pd.DataFrame(school_housing_df2) 
school_housing_df2

                              Median Sale Price
Year City        Rank
2013 Fremont     327.400000              622750
     Hayward     1583.833333             379250
     Oakland     1323.733333             414333
     San Jose    913.576923              609000
     Santa Clara 789.000000              664833
2015 Fremont     237.600000              775416
     Hayward     1259.000000             483166
     Oakland     1066.153846             554000
     San Jose    680.208333              742583
     Santa Clara 466.000000              876416
2016 Fremont     203.200000              834833
     Hayward     1334.142857             536333
     Oakland     1128.357143             625083
     San Jose    668.208333              791750
     Santa Clara 332.000000              955250
2017 Fremont     167.600000              931916
     Hayward     1293.714286             613750
     Oakland     1033.200000             677416
     San Jose    668.208333              886500
     Santa Clara 332.000000             1113666
2018 Fremont     145.200000             1080416
     Hayward     1226.428571             667916
     Oakland     1021.428571             744416
     San Jose    690.440000             1049916
     Santa Clara 494.000000             1339583

KeyError: 'city'